@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: garamound;
  src: url("./assets/Fonts/EBGaramond.otf");
}

@font-face {
  font-family: averaiserif;
  src: url("./assets/Fonts/AveriaSerifLibre-Italic.ttf");
}

@theme {
  --font-garamound: garamound, "sans-serif";
  --font-averaiserif: averaiserif, "serif";
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease forwards;
}
@keyframes livePulse {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1);
  }

  50% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 20px 8px rgba(255, 0, 0, 0.2);
  }
}

.live-dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 9999px;
  animation: livePulse 1.5s infinite;
}
@keyframes fadePulse {
  0%,
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-4px);
  }
}
@keyframes fadeUpSmooth {
  from {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.reveal-section {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(8px);
  will-change: transform, opacity, filter;
  overflow: hidden;
}

.reveal-section.show {
  animation: fadeUpSmooth 0.8s ease-out forwards;
}
@keyframes fadeCardUp {
  from {
    opacity: 0;
    transform: translateY(30px);
    filter: blur(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.fade-card {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(6px);
}

.fade-card.show {
  animation: fadeCardUp 0.8s ease-out forwards;
}